In [42]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, text, select
import urllib

# Step 1: Connection setup
params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=LAPTOP-ECJLSAST\\SQLExpress;"
    "DATABASE=master;"  # change to BankDB if it's created and accessible
    "Trusted_Connection=yes;"
)
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# Step 2: Test connection
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT @@VERSION"))
        print("‚úÖ Connected to SQL Server! Version:", result.scalar())
except Exception as e:
    print("‚ùå Connection failed:", e)

# Step 3: Define schema
metadata = MetaData()

salary_table = Table(
    'salary',
    metadata,
    Column('emp_id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),
    Column('salary', Integer, nullable=False)
)

# Step 4: Create table
try:
    metadata.create_all(engine)
    print("‚úÖ Table 'salary' created.")
except Exception as e:
    print("‚ùå Table creation failed:", e)

# Step 5: Insert records
try:
    with engine.connect() as conn:
        conn.execute(
            salary_table.insert(),
            [
                {'emp_id': 1, 'name': 'Alice', 'salary': 50000},
                {'emp_id': 2, 'name': 'Bob', 'salary': 60000}
            ]
        )
        print("‚úÖ Sample data inserted.")
except Exception as e:
    print("‚ùå Insertion failed:", e)

# Step 6: Read data
try:
    with engine.connect() as conn:
        result = conn.execute(select(salary_table))
        print("üìä Salary Table Data:")
        for row in result:
            print(row)
except Exception as e:
    print("‚ùå Reading data failed:", e)

‚úÖ Connected to SQL Server! Version: Microsoft SQL Server 2022 (RTM) - 16.0.1000.6 (X64)
	Oct  8 2022 05:58:25
	Copyright (C) 2022 Microsoft Corporation
	Express Edition (64-bit) on Windows 10 Home 10.0 <X64> (Build 22631: )

‚úÖ Table 'salary' created.
‚úÖ Sample data inserted.
üìä Salary Table Data:

In [43]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, text, select
import urllib

# Step 1: Create engine
params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=LAPTOP-ECJLSAST\\SQLExpress;"
    "DATABASE=master;"
    "Trusted_Connection=yes;"
)
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# Step 2: Test connection
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT @@VERSION"))
        print("‚úÖ Connected to SQL Server! Version:", result.scalar())
except Exception as e:
    print("‚ùå Connection failed:", e)

# Step 3: Define metadata and salary table
metadata = MetaData()

salary_table = Table(
    'salary',
    metadata,
    Column('emp_id', Integer, primary_key=True),
    Column('name', String(100), nullable=False),
    Column('salary', Integer, nullable=False)
)

# Step 4: Create the table
try:
    metadata.create_all(engine)
    print("‚úÖ Table 'salary' created.")
except Exception as e:
    print("‚ùå Table creation failed:", e)

# Step 5: Insert sample data
try:
    with engine.connect() as conn:
        conn.execute(
            salary_table.insert(),
            [
                {'emp_id': 1, 'name': 'Alice', 'salary': 50000},
                {'emp_id': 2, 'name': 'Bob', 'salary': 60000}
            ]
        )
        print("‚úÖ Sample data inserted.")
except Exception as e:
    print("‚ùå Data insertion failed:", e)

# Step 6: Fetch and print data
try:
    with engine.connect() as conn:
        result = conn.execute(select(salary_table))
        print("üìä Salary Table Data:")
        for row in result:
            print(row)
except Exception as e:
    print("‚ùå Data retrieval failed:", e)

‚úÖ Connected to SQL Server! Version: Microsoft SQL Server 2022 (RTM) - 16.0.1000.6 (X64)
	Oct  8 2022 05:58:25
	Copyright (C) 2022 Microsoft Corporation
	Express Edition (64-bit) on Windows 10 Home 10.0 <X64> (Build 22631: )

‚úÖ Table 'salary' created.
‚úÖ Sample data inserted.
üìä Salary Table Data: